*{
    margin: 0;
    padding: 0;
}

html,body{
    height: 150%;
    box-sizing: border-box;
}

.container{
    display: none;
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.3);
}
.box{
    position: absolute;
    background: #fff;
    border: 1px solid #000;
}

.box h1{
    height: 30px;
    background: rgb(132, 132, 132);
    color: #eee;
    text-indent: 1em;
    line-height: 30px;
    font-size: 14px;
    cursor: move;
}

.box p{
    text-indent: 1em;
    margin-top: 10px;
    font-size: 14px;
}

.box a{
    position: absolute;
    width: 100px;
    height: 30px;
    font-size: 14px;
    text-align: center;
    line-height: 30px;
    background: rgb(132, 132, 132);
    border: 1px solid #000;
    text-decoration: none;
    color: #eee;
    right: 20px;
    bottom: 20px;
}
.box .first{
    right: 140px;
}

#btn{
    margin-left: 300px;
    margin-top: 300px;
    width: 100px;
    height: 30px;
}