#wrapper,#layer1,#layer2,#layer3{
    border: 1px solid #000;
}
#wrapper{
    background-color: #fff;
    width: 810px;
    height: 300px;
}
#layer1{
    background-color: #fff;
    margin: 20px 0 20px 20px;
    width: 370px;
    height: 260px;
    display: inline-block;
}
#layer2{
    background-color: #fff;
    margin: 20px 0 20px 20px;
    width: 150px;
    height: 220px;
    display: inline-block;
}
#layer3{
    background-color: #fff;
    margin: 20px 0 20px 20px;
    width: 40px;
    height: 180px;
    display: inline-block;
}
button{
    margin: 20px 0 0 10px;
}
/* .notshow{
    background: white;
}
.show{
    background: red;
} */